<div class="container mt-4">
    <p><strong>1. pipe -</strong> The pipe operator is not an operator itself, but it's the mechanisim that allows you to chain operators together. Think of it as a pipeline where your data flows through a series of pure functions. You'll see it in every example from now on.</p>
    <p><strong>2. map -</strong> It works just like the array map method. It applies a function to each value emitted by the source Observable and emits the result.</p>
    <p><strong>3. filter -</strong> It emits a value form the source only if it passes a certain condition you provide. It's essential for selecting the data you care about.</p>
    <p><strong>4. first -</strong> The first operator emits only the first value from a stream. You can also provide a predicate function to find the first value that matches a certain condition.</p>
</div>
