<section class="bg-warning text-white p-5">
    <div class="container">
        <div class="card p-3 bg-dark text-white">
            <div class="card-titel">
                <h5>Signals</h5>
                <p>In Angular, a signal is a reactive primitive (introduced in Angular 16) used to store reactive values and automatically update the UI when the state changes.</p>
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        <a class="nav-link" routerLink="/quizz" routerLinkActive="active">Quiz App</a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link" routerLink="/expensive-tracker" routerLinkActive="active">Expensive Tracker</a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link" routerLink="/stop-watch" routerLinkActive="active">Stop Watch</a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link" routerLink="/chat-ui" routerLinkActive="active">Chat UI</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>