.active {
    font-weight: 700;
}

li .unordered-list {
    list-style-type: disc;
    background: #fff;
    display: none;
}
li.hidden:hover .unordered-list {
    display: block;
}

.unordered-list .nav-link {
    color: blue;
}